.list-bg {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 1px 14px 80px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 14px 80px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 14px 80px 7px rgba(0, 0, 0, 0.75);
    width: 65%;
    border-radius: 30px;
    margin-left: 17%;
    margin-top: 50px;
    height: auto;
    display: grid;
    text-align: left;
}

.box-game {
    background: lightgray;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    margin: 30px;
}

.box-game>div {
    grid-column: 1/4;
    background: transparent;
    background-size: cover;
}

.box-game>p {
    grid-column: 4/9;
}